<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <%- include('./partials/header') %>
        <div class="draw">
            <canvas id="canvas"></canvas>
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/draw.js"></script>
</html>