<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
    </head>
    <body>
        <%- include('./partials/header') %>
        <div class="game-container">
            <h1>Rock, Paper, Scissors</h1>
            <div class="game-info">
                <h2>Players: </h2>
                <h4>Score: </h4>
            </div>
            <div class="game-inputs">
                <a href="#" class="game-button" id="rock">Rock</a>
                <a href="#" class="game-button" id="paper">Paper</a>
                <a href="#" class="game-button" id="scissors">Scissors</a>
            </div>
        </div>
    </body>
</html>